body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(29, 211, 235);
  color: white;
  padding: 15px;
  text-align: center;
}

header button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
}

header button:hover {
  background-color: blue;
  transform: translateY(-5px);
}


section {
  background-color: white;
  margin: 20px;
  padding: 15px;
  border-radius: 4px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: white;
}

input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

form button,
#cancel {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

td button {
  margin-right: 5px;
}